.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 38, 38);
  height: 100vh;
  box-sizing: border-box;
  max-width: 100%;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  align-items: flex-start;
  padding: 10px;
  margin-top: 20px; 
  max-width: 100%;
}

.range-number-container {
  display: flex;
  align-items: center;
}

.range-number-container input[type="range"] {
  margin-right: 10px;
}

button {
  background-color: blue; 
  color: white; 
}

canvas {
  width: 99%;
  height: 500px;
  max-width: 100%;
}
